@using StudentHub.Web.ViewModels.Administration.Dashboard
@model AllStudentsListViewModel;


<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
    Create course
</button>
<table class="table table-bordered ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">StudentID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Age</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <tbody>

        @{
            int trCounter = 1;
            foreach (var item in Model.AllUsersList)
            {
                <tr>
                    <th scope="row">@trCounter</th>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>
                    <td>@item.CreatedOn</td>
                    <td>@String.Join(",",item.Roles)</td>               

                </tr>

                trCounter += 1;
            }
        }
    </tbody>
</table>
<h1>HElla</h1>