@using StudentHub.Web.ViewModels.Administration.Dashboard
@model AllStudentsListViewModel;

<table class="table table-bordered ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ProfileImage</th>
            <th scope="col">StudentID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Age</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">Roles</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        @{
            int trCounter = 1;
            foreach (var student in Model.StudentInList)
            {
                <tr>
                    <th scope="row">@trCounter</th>
                    <td class="text-center">
                        <img alt=""
                             style="width: 45px; height: 55px"
                             class="rounded-circle" src="@student.ImageUrl" />
                    </td>
                    <td>@student.Id</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Age</td>
                    <td>@student.CreatedOn</td>
                    <td>@String.Join(",", student.Roles)</td>
                    <td>
                        <form method="get" asp-area="Administration" asp-controller="Dashboard" asp-action="EditStudent" asp-route-id="@student.Id">
                            <button type="submit" class="btn btn-secondary active">Edit</button>
                        </form>

                        <form method="post" asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteStudent" asp-route-id="@student.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>

                </tr>

                trCounter += 1;
            }
        }
    </tbody>
</table>
