@using StudentHub.Web.ViewModels.Administration.Dashboard
@model AllStudentsListViewModel;

<div class="container">
    <div class="row">
        <div class="col-12">

            <table class="table table-light ">
                <thead>
                    <tr class="align-items-center">
                        <th scope="col">#</th>
                        <th scope="col">ProfileImage</th>
                        <th scope="col">StudentID</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Age</th>
                        <th scope="col">CreatedOn</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="align-items-center">

                    @{
                        int trCounter = 1;
                        int modalCounter = 1;
                        foreach (var student in Model.StudentInList)
                        {
                            <tr class="text-center align-items-center">
                                <th class="text-center align-items-center" scope="row">@trCounter</th>
                                <td class="text-center align-items-center">

                                    <img alt=""
                                         style="width: 45px; height: 55px"
                                         class="rounded-circle" src="@student.ImageUrl"
                                         data-toggle="modal" data-target="#modal-@student.Id">
                                </td>
                                <td>@student.Id</td>
                                <td>@student.FirstName</td>
                                <td>@student.LastName</td>
                                <td>@student.Age</td>
                                <td>@student.CreatedOn</td>
                                <td>@String.Join(",", student.Roles)</td>
                                <td class="m-0 p-0 d-inline-flex">
                                    <form asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteStudent" method="get">
                                        <button asp-area="Administration" asp-controller="Dashboard" asp-action="EditStudent" asp-route-id="@student.Id" type="submit" class="btn btn-secondary btn-sm m-2"> Edit</button>
                                    </form>

                                    <form asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteStudent" method="post">
                                        <button asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteStudent" asp-route-id="@student.Id" type="submit" class="btn btn-danger btn-sm m-2"> Delete</button>
                                    </form>

                                </td>


                                <div class="modal fade" id="modal-@student.Id" tabindex="-1" aria-labelledby="modalLabel-@student.Id" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel-@student.Id">Full Size Image</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <img src="@student.ImageUrl" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </tr>

                            trCounter += 1;


                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

