@using StudentHub.Web.ViewModels.Administration.Dashboard
@model AllStudentsListViewModel;

<table class="table table-bordered ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">StudentID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Age</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">Roles</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        @{
            int trCounter = 1;
            foreach (var item in Model.AllUsersList)
            {
                <tr>
                    <th scope="row">@trCounter</th>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>
                    <td>@item.CreatedOn</td>
                    <td>@String.Join(",", item.Roles)</td>
                    <td>
                        <form method="get" asp-area="Administration" asp-controller="Dashboard" asp-action="EditStudent" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-secondary active">Edit</button>
                        </form>
                    </td>

                </tr>

                trCounter += 1;
            }
        }
    </tbody>
</table>
