@using StudentHub.Web.ViewModels.Administration.Dashboard
@model TeachersListViewModel

<div class="container">

    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
        Add new Teacher
    </button>

    <div class="row">
        <div class="col-12">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Age</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody class="align-items-center">

                    @{
                        int trCounter = 1;
                        foreach (var teacher in Model.StudentsTeachers)
                        {
                            <tr>
                                <th class="text-center align-items-center" scope="row">@trCounter</th>
                                <td>@teacher.Id</td>
                                <td>@teacher.FullName</td>
                                <td>@teacher.Age</td>
                                <td class="m-0 p-0">
                                    <form asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteStudent" method="get">
                                        <button asp-area="Administration" asp-controller="Dashboard" asp-action="EditStudent" asp-route-id="@teacher.Id" type="submit" class="btn btn-secondary btn-sm m-2">Edit</button>
                                    </form>

                                    <form asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteStudent" method="post">
                                        <button asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteStudent" asp-route-id="@teacher.Id" type="submit" class="btn btn-danger btn-sm m-2">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            trCounter += 1;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Teacher</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer justify-content-center">

                <form asp-area="Administration" asp-controller="Dashboard" asp-action="CreateTeacher" method="post" enctype="multipart/form-data col-">
                    <label asp-for="CreateTeacherInputModel.FullName">Teacher fullname</label>
                    <input asp-for="CreateTeacherInputModel.FullName" class="form-control" placeholder="Fullname" />
                    <span asp-validation-for="CreateTeacherInputModel.FullName" class="text-danger"></span>

                    <label asp-for="CreateTeacherInputModel.Age">Teacher age</label>
                    <input asp-for="CreateTeacherInputModel.Age" class="form-control" placeholder="Age" />
                    <span asp-validation-for="CreateTeacherInputModel.Age" class="text-danger"></span>

                    <div class="form-group">
                        <label asp-for="CreateTeacherInputModel.CourseId"></label>
                        <select class="form-select" asp-for="CreateTeacherInputModel.CourseId" asp-items="@Model.CreateTeacherInputModel.Courses">
                            <option selected>Open this select menu</option>
                        </select>
                        <span asp-validation-for="CreateTeacherInputModel.CourseId" class="text-danger"></span>
                    </div>


                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <input type="submit" class="btn btn-success">

                </form>

            </div>
        </div>
    </div>
</div>